# Para el APIs para LLMs de Gemini, necesitas una API Key. Puedes obtenerla en: https://console.cloud.google.com/apis/credentials
# Copia este archivo, renombralo como .env y coloca tu API Key de Gemini
GEMINI_API_KEY=tu_api_key_aqui