.env
# Ignorar cualquier archivo .csv en cualquier carpeta
/**/*.csv
# Ignorar cualquier carpeta llamada data en cualquier nivel
**/data/
# Agrega el nombre específico de tu notebook al archivo .gitignore
!echo "limpiar.py" >> .gitignore